################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode/
/.idea

[Oo]bj/
[Bb]in/
